@{
    ViewData["Title"] = "About";
}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Misión</h1>
            <p class="lead text-muted">Nuestra misión es crear espacios recreativos para los estudiantes de la Universidad de Costa Rica, en los cuales puedan disfrutar de eventos musicales donde logren distraer su mente del estrés cotidiano.</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <h1 class="jumbotron-heading text-center">Información de los desarrolladores</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="card border-0 shadow">
                        <center>
                        <img src="/Img/Susan.jpeg" width="70%" class="card-img-top" style="width:300px; height:400px">
                        </center>
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Susan Sojo Castro</h5>
                            <div class="card-text text-black-50">sojos204@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-0 shadow">
                        <center>
                            <img src="/Img/Heiner.png" class="card-img-top" style="width:300px; height:400px">
                        </center>
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Heiner Monge López</h5>
                            <div class="card-text text-black-50">heinermongelopez@gmail.com</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>